body {
    font-family: Gill Sans, Verdana, Arial;
    font-size: 20px;
    font-weight: 300;
}

hr {
    height: 4px;
    background-color: black;
}

a:link {
    color: black;
}

.product:hover { 
    background-color: yellow;
    font-weight: 550;
}

.price {
    margin-top: 5px;
}

.productgallery {
    /* text-align: center;
    margin-left: auto;
    margin-right: auto; */
    height: auto;
/* 
    width: 25%; */
}

.selected {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
    width: fit-content;
    font-weight: 700;
    text-decoration: none;
}

.intro {
    text-align: center;
    font-size: 21px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-decoration: none;
    padding-bottom: 10px;
}

.title {
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logo {
    padding-left: 40px;
    width: 30%;
}

.galleryimage{
    width: 100%;
    border: 3px solid;
    display: block; 
    margin-bottom: 0px; 
    /* margin-top: 40px; */
}

.remove {
    font-weight: 900px;
    font-size: 12px;
    text-align: center;
    margin-top: 0px; 
  }

.product {
    /* margin-top: 10px; */
    margin-bottom: 30px;
    /* text-align: left; */
    margin-right: auto; 
    margin-left: auto; 
    width: 23%;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 15px;
    /* padding helps create nice yellow border around container when hovered over */
}

.cartitem {
    margin-right: auto; 
    margin-left: auto; 
    text-align: center;
    width: 30%
}

.cartimage {
    width: 30%;
    border: 2.5px solid;
    /* display: block;  */
    text-align: center;
    margin-bottom: 0px; 
}

.nameandprice {
    margin-bottom: 0px;
    margin-top: 8px; 
}

.bottom {
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button {
    width: 20%;
    /* display: block; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 2.5px solid;
    background-color: yellow;
    padding: 6px;
    font-weight: 600;

}