body {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 24px;
}

hr {
    height: 4px;
    background-color: black;
}

a:link {
    color: black;
}

/* a:hover {
    font-weight: 550;
} */

.product:hover { 
    background-color: yellow;
    font-weight: 550;
}

.productgallery {
    /* text-align: center;
    margin-left: auto;
    margin-right: auto; */
    height: auto;
/* 
    width: 25%; */
}

.selected {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
    width: fit-content;
    font-weight: 700;
}

.intro {
    text-align: center;
    font-size: 27px;
}

.logo {
    width: 30%;
}

.galleryimage{
    width: 100%;
    /* margin: auto auto; */
    border:5px solid;
    display: block; 
    margin-bottom: 0px; 
    /* margin-top: 40px; */
}

.button {
    border: 5px solid;
    color: black;
    background-color: yellow;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 4px 2px;
  }

.product {
    /* margin-top: 10px; */
    margin-bottom: 30px;
    /* text-align: left; */
    margin-right: auto; 
    margin-left: auto; 
    width: 23%;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 15px;
    /* padding helps create nice yellow border around container when hovered over */
}

.nameandprice {
    margin-bottom: 2px;
    margin-top: 8px; 
}