body {
    font-family: Verdana, Arial;
    font-size: 22px;
    font-weight: 300;
    border: solid black;
}

hr {
    height: 4px;
    background-color: black;
}

a:link {
    color: black;
}

.product:hover { 
    background-color: yellow;
    font-weight: 550;
}

.price {
    margin-top: 5px;
}

.selected {
    /* display: block; */
    /* text-align: center; */
    /* margin-left: 80px;
    margin-right: 80px; */
    background-color: yellow;
    /* width: fit-content; */
    font-weight: 700;
    text-decoration: none;
}

.intro {
    /* text-align: center; */
    font-size: 21px;
    /* margin-left: auto;
    margin-right: auto; */
    /* display: block; */
    text-decoration: none;
    /* padding-bottom: 10px;
    padding-top: 10px; */
}

.title {
    font-size: 32px;
    /* padding-left: 30px; */
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}

.logo {
    padding: 20px;
    /* width: 30%; */
    width: 400px;
    flex-shrink: 0;
}

.gallery {
    display: flex;
    /* justify-content: flex-start; */
    margin-left: 7%;
    margin-right: 7%;
}

.galleryimage{
    width: 100%;
    border: 3px solid black;
    display: block; 
    margin-bottom: 0px; 
    /* margin-top: 40px; */
}

.remove {
    font-weight: 900px;
    font-size: 12px;
    text-align: center;
    margin-top: 0px; 
  }

.product {
    /* margin-top: 10px; */
    /* margin-bottom: 30px; */
    /* text-align: left; */
    margin-right: auto; 
    margin-left: auto; 
    width: 30%;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    /* padding helps create nice yellow border around container when hovered over */
}

.cartitem {
    margin-right: auto; 
    margin-left: auto; 
    text-align: center;
    width: 30%
}

.cartimage {
    width: 30%;
    border: 2.5px solid;
    /* display: block;  */
    text-align: center;
    margin-bottom: 0px; 
}

.nameandprice {
    margin-bottom: 0px;
    margin-top: 8px; 
    /* width: 95% */
}

.cartbottom {
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.cartbutton {
    width: 20%;
    /* display: block; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 2.5px solid black;
    background-color: yellow;
    padding: 10px 6px;
    font-weight: 600;
}

.detailimage {
    width: 60%;
    height: 60%;
    border: 3px solid black;
}

.productdetail {
    /* margin-right: auto; 
    margin-left: auto; 
    text-align: center; */
    display: flex;
    justify-content: flex-start;
    margin-left: 70px;
}

.detailbottom{
    width: 30%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    /* margin-top: 0px;
    margin-bottom: 0px; */
    /* I wanted to reduce the padding between glazing 
    and the dropdown but this didnt work */
}

.detailbutton {
    text-align: center;
    margin-left: auto;
    margin-right: 0px;
    border: 3px solid black;
    background-color: yellow;
    padding: 10px 20px;
    /* display: flex; */
}

.dropdown {
    cursor: pointer; 
    border: 3px solid; 
    padding: 7px 10px;
    margin-bottom: 14px;
    width: 100%; 
    font-size: 22px; 
    font-family: Verdana, Arial;
}


.detailpriceandbutton {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: baseline;
    align-items: right;
    padding-left: 20px;
    font-weight: 600; 
}

nav {
    display: flex;
}

.topbartext{
    display: flex;
    margin-right: 80px;
    justify-content: right;
    gap: 80px;
    /* position: right; */
    /* text-align: right; */
} 

.topbar{
    font-size: 22px;
    height: 22px;
    margin-top: 40px;
    flex-grow: 1;
    justify-content: flex-end;
}

